/* -- Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* -- Variable  Settings */
$font: "Inter", sans-serif;
$font-color: #050505;
$bg-color: #e7e7e9;
